html,body{
    font-family: 'Didact Gothic', 'Hind', sans-serif;
    /* background-color: rgb(255, 200, 0); */
    background: -moz-linear-gradient(to bottom,rgb(255, 200, 0),#FFC778 60%,#F89174); 
    background: -webkit-linear-gradient(to bottom,rgb(255, 200, 0),#FFC778 60%,#F89174); 
    background: linear-gradient(to bottom,rgb(255, 200, 0),#FFC778 60%,#F89174); 
}
body{
    margin: 0;
}
.bg{
    background-color: rgba(0,0,0,0);
}

/* header */
.navbar-brand{
    font-size: 2.25rem;
}
.fab{
    font-size: 1.5em;
}
/* /header */

.title{
    transition: all 0.3s ease-out;
}
.title01{
    opacity: 0;
    animation: titleAnimation 3s ease 0.5s forwards;
}
.title02{
    opacity: 0;
    animation: titleAnimation 3s ease 1s forwards;
}

@keyframes titleAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.btn{
    background-color: rgb(255, 200, 0);
}

footer{
    width: 100%; height: 100px;
}